/* ===========================
DEFAULT Theme - Dial Selector
=========================== */

/* Dial Selector Hover Effects */
:root[data-theme='default'] {
  --dial-selector-label-hover-color: var(--background-color);
  --dial-selector-label-hover-background: var(--dial-selector-color-ink);
  --dial-selector-label-hover-opacity: 0.7;
}
