$accent-color: var(--color-accent);
$body-background: var(--color-background-body);
$main-background: var(--color-background-main);

:root {
	--color-accent: #EC407A;
	--color-background-body: #ECEFF1;
	--color-background-main: white;
}