$accent-color: var(--color-accent);
$body-background: var(--color-background-body);
$main-background: var(--color-background-main);

@mixin black-to-accent {
	filter:  brightness(0) saturate(100%) invert(44%) sepia(49%) saturate(3385%) hue-rotate(313deg) brightness(91%) contrast(103%);
}

:root {
	--color-accent: #EC407A;
	--color-background-body: #ECEFF1;
	--color-background-main: white;
}