
@use "color-classes";
@use "colors";
@use "header";
@use "main";

body {
	margin-inline: auto;
	max-width: 80%;
	background-color: colors.$body-background;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}